@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.gitlab-content-container {
  display: flex;

  @media all and (max-width: $screen-md-min) {
    flex-direction: column;
  }
}

.webcast-video-container {
  display: none;

  iframe {
    height: 370px;
  }
}

.sticky-form {
  position: sticky;
  top: 60px;
}

.form-container {
  flex-shrink: 0;
  overflow: hidden;

  //sass-lint:disable-all
  input,
  select {
    box-shadow: none !important;
  }

  button {
    box-shadow: none !important;
    border: 0 !important;
    background: $color-accent !important;
    color: $color-white !important;
    min-width: auto !important;
    padding: $input-padding !important;
    font-size: 16px !important;

    &:hover {
      background: $color-secondary !important;
    }
  }

  @media all and (max-width: $screen-md-min) {
    margin-top: 20px;
    margin-left: 0;
  }
}


.form-to-resource-content {

  //sass-lint:disable-all

  .mktoClear {
    display: none;
  }

  .mktoForm {
    max-width: inherit;
    width: inherit;
  }

  .mktoForm button[type="submit"] {
    min-width: 150px !important;
  }

  .destination-url:hover {
    cursor: pointer;
  }

}
