@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//sass-lint:disable-all

.mktoField {
  color: #000000;
}

.mktoCheckboxList:not(.mktoRequired) input[type=checkbox]::before {
  content: "No"
}

.mktoCheckboxList:not(.mktoRequired) input[type=checkbox]:checked::before {
  content: "Yes";
}

@media (min-width: 600px) {

  label:empty {
    display: none;
  }

  .mktoFieldWrap {
    justify-content: flex-end;
  }

  .form-to-resource-content .mktoClear {
    clear: both;
    display: block;
  }
  
  .mktoAsterix,
  .mktoGutter {
    display: none !important;
  }
  
  .mktoLabel[for="FirstName"],
  .mktoLabel[for="LastName"],
  .mktoLabel[for="Title"],
  .mktoLabel[for="Email"],
  .mktoLabel[for="Company"],
  .mktoLabel[for="Country"],
  .mktoLabel[for="State"],
  .mktoLabel[for="Employee_Buckets__c"] {
    color: $color-gray-light;
    display: inline-block !important;
    line-height: 20px;
    margin-right: 10px;
    vertical-align: top;
    width: 140px;
  }
  
  .mktoField[name="FirstName"],
  .mktoField[name="LastName"],
  .mktoField[name="Title"],
  .mktoField[name="Email"],
  .mktoField[name="Company"],
  .mktoField[name="Country"],
  .mktoField[name="State"],
  .mktoField[name="Employee_Buckets__c"] {
    float: right;
    width: calc(100% - 150px);
  }
  
  .mktoErrorMsg {
    color: #ffffff !important;
    margin-left: 152px;
  }

  .mktoButtonRow {
    text-align: right !important;
  }

}

@media (min-width: 1200px) {
 
  .mktoLabel[for="subscribeWebcast__c"],
  .mktoLabel[for="newsletterSegment__c_lead"],
  .mktoLabel[for="GDPR_Compliant__c"] {
    margin-left: 150px;
  }

}
